<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupo5.todo_ocio">

    <!---PERMISOS-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--"@mipmap/ic_launcher"
    "@mipmap/ic_launcher_round"-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/WhateverTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity android:name=".Lista"
            android:theme="@style/WhateverTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Mapa"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName=".Lista">
        </activity>

        <activity android:name=".Nuevo"
            android:parentActivityName=".Lista">
        </activity>
        <activity
            android:name=".Ver"
            android:parentActivityName=".Lista" />
        <activity android:name=".Editar"
            android:parentActivityName=".Lista">
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Lista"/>

    </application>

</manifest>